@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
/* .first-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EEEFF1;
    /* width: 1920px; */
    /* height: 700px;
    margin-left: 0px;
    margin-top: -7px;
} */

header {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* margin-right: 413px; */
    background-color: #391480;
    /* color:white; */
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 661px;
    margin-right: 113px;
    margin-left: 250px;

    margin-top: 79px ;
    /* text-decoration: none; */
    color:white;
}
.main {
    color: white;
}

.logo {
    /* font-family: 'Revalia', cursive; */
    font-size: 25px;
    font-weight: 500;
    color: white;
    width: 96px;
    height: 25px;
    margin-left: 30px;
    margin-top: 25px;
    margin-right: 10px;

}





