@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.page1 {
    display: flex;
    /* justify-content: space-between; */
    width: 1250px;
    height: 250px;
    background-color: #d9e798;
    margin-top: 27px;
    margin-left: 70px;
    /* margin-right: 100px; */
    /* border-radius: 7%; */

}

.page1-image {
    width: 150px;
    height: 150px;
    margin-left: 30px;
    /* padding-right: 30px; */
    border-radius: 195%;
    margin-top: 10px;
    margin-bottom: 10px;


}

.page2-image {
    width: 380px;
    height: 220px;
    margin-left: 30px;
    /* padding-right: 30px; */
    /* border-radius: 7%; */
    margin-top: 15px;
    /* margin-bottom: 5px; */


}


.page1-content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    /* justify-content: space-between; */
    
}

.page1-title {
    color: rgb(70, 25, 129);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-top: 20px;
}

.page1-description {

    width: 700px;
    height: 67px;
    margin-top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #727272;
}

.page1-button {
    width: 225px;
    height: 65px;
    left: 975px;
    top: 482px;

    background: #34547A;
    border: 1px solid #34547A;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1em;

}